@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.no-js {
    text-align: center;
    margin-top: 0;
    font-size: 4rem;
    position: fixed;
    width: 100%;
    color: rgb(236, 38, 38);
    background: rgb(177, 177, 177);
}

.jumbotron {
    background-image: linear-gradient(to right bottom, #70c6ff5d, #70ffa75d), url('neitvuorilintu.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.jumbotron__typedStrings {
    padding-top: 30vh;
}

.typed {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    font-weight: 600;
    color: rgb(42, 48, 49);
}

.jumbotron h2 {
    padding-top: 6vh;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    color: rgb(42, 48, 49);
}

.jumbotron__linkedin {
    margin: 8rem auto;
    width: 2.8rem;
    cursor: pointer;
    position: relative;
}

.jumbotron__linkedin:hover,
.jumbotron__linkedin:focus {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}

.jumbotron__linkedin--image {
    width: 100%;
}

.no-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.typed-cursor {
    font-size: 1.5rem;
    opacity: 1;
    -webkit-animation: blink 0.5s infinite;
    -moz-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
}

@media screen and (min-width:1024px) {
    html {
        font-size: 100%;
    }
}

@keyframes blink {
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}